@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "variables";
@import "core";


.navbar {
  padding: 1em;
  background: $navbar;
  border-bottom: 2px solid $main-gray;
  li {
    display: inline;
    color: $main-gray;
  }
  a {
    color: $main-gray;
    padding: 1em;
  }
  a:hover,
  a:active {
    background: $main-gray;
    color: $navbar;
  }
}

.main-content {
  height: auto;
  line-height: 0px;
  img {
    height: auto;
    z-index: -1;
    opacity: 0.4;
  }
  h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span:hover {
    color: #fff;
  }
}

.footer {
  width: 100%;
  border-top: 2px solid indianred;
  background-color: gray;
  border-top: 3px solid #2e2e2e;
  span {
    font-size: 14px;
    float: left;
    margin: 1em;
    color: #2e2e2e;
  }
}

.test {
  :nth-child(1) {
    background: #c06000;
    padding: 1em;
  }
  :nth-child(2) {
    background: pink;
    padding: 1em;
  }
}

@media #{$breakpoint-small} {
  .navbar {
    a {
      width: 100%;
      display: block;
      padding: 1em;
      text-align: center;
    }
  }
  .wrapper {
    height: 100%;
    font-size: 20px;
    width: 100%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-s-#{$i} {
      width: 100%;
    }
    .offcol-s-#{$i} {
      margin-left: 0;
    }
  }
}

@media #{$breakpoint-large} {
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
    .offcol-#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }
}

html, body {
  height: 100%;
}