@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "variables";
@import "mixins";
@import "variables";
@import "mixins";



*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Arial';
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

.navbar {
  background: saddlebrown;
  border-bottom: 2px solid $main-gray;
}

.nav-item {
  float: left;
  list-style: none;
  color: $main-gray;
  display: block;
  position: relative;
}

.nav-item>a {
  color: $main-gray;
  //background: greenyellow;
  padding: 1em;
}

.nav-item>a:hover, .nav-item>a:active  {
  background: $main-gray;
  color: saddlebrown;
}

.sidebar {
  background: gold;
  height: 600px;
}

.main {
  background: indianred;
  height: 600px;
}