@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

@media only screen and (max-width: 767px) {
  .wrapper {
    font-size: 12px;
    width: 100%;
    max-width: 65em; }
  .column-1 {
    width: 100%; }
  .off-column-1 {
    margin-left: 0; }
  .column-2 {
    width: 100%; }
  .off-column-2 {
    margin-left: 0; }
  .column-3 {
    width: 100%; }
  .off-column-3 {
    margin-left: 0; }
  .column-4 {
    width: 100%; }
  .off-column-4 {
    margin-left: 0; }
  .column-5 {
    width: 100%; }
  .off-column-5 {
    margin-left: 0; }
  .column-6 {
    width: 100%; }
  .off-column-6 {
    margin-left: 0; }
  .column-7 {
    width: 100%; }
  .off-column-7 {
    margin-left: 0; }
  .column-8 {
    width: 100%; }
  .off-column-8 {
    margin-left: 0; }
  .column-9 {
    width: 100%; }
  .off-column-9 {
    margin-left: 0; }
  .column-10 {
    width: 100%; }
  .off-column-10 {
    margin-left: 0; }
  .column-11 {
    width: 100%; }
  .off-column-11 {
    margin-left: 0; }
  .column-12 {
    width: 100%; }
  .off-column-12 {
    margin-left: 0; } }

@media only screen and (min-width: 768px) {
  .wrapper {
    font-size: 12px;
    width: 100%;
    max-width: 65em; }
  .column-1 {
    width: 8.33333%; }
  .off-column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .off-column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .off-column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .off-column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .off-column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .off-column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .off-column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .off-column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .off-column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .off-column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .off-column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; }
  .off-column-12 {
    width: 100%; } }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

body {
  font-family: 'Roboto', 'Arial';
  font-size: 16px;
  background: #eee; }

@media only screen and (max-width: 767px) {
  .wrapper {
    font-size: 12px;
    width: 100%;
    max-width: 65em; }
  .column-1 {
    width: 100%; }
  .off-column-1 {
    margin-left: 0; }
  .column-2 {
    width: 100%; }
  .off-column-2 {
    margin-left: 0; }
  .column-3 {
    width: 100%; }
  .off-column-3 {
    margin-left: 0; }
  .column-4 {
    width: 100%; }
  .off-column-4 {
    margin-left: 0; }
  .column-5 {
    width: 100%; }
  .off-column-5 {
    margin-left: 0; }
  .column-6 {
    width: 100%; }
  .off-column-6 {
    margin-left: 0; }
  .column-7 {
    width: 100%; }
  .off-column-7 {
    margin-left: 0; }
  .column-8 {
    width: 100%; }
  .off-column-8 {
    margin-left: 0; }
  .column-9 {
    width: 100%; }
  .off-column-9 {
    margin-left: 0; }
  .column-10 {
    width: 100%; }
  .off-column-10 {
    margin-left: 0; }
  .column-11 {
    width: 100%; }
  .off-column-11 {
    margin-left: 0; }
  .column-12 {
    width: 100%; }
  .off-column-12 {
    margin-left: 0; } }

@media only screen and (min-width: 768px) {
  .wrapper {
    font-size: 12px;
    width: 100%;
    max-width: 65em; }
  .column-1 {
    width: 8.33333%; }
  .off-column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .off-column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .off-column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .off-column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .off-column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .off-column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .off-column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .off-column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .off-column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .off-column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .off-column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; }
  .off-column-12 {
    width: 100%; } }

.navbar {
  background: #9933cc; }

.navbar > ul > li {
  float: left;
  color: #eee; }
  .navbar > ul > li a {
    color: #eee;
    padding: 1em; }
  .navbar > ul > li a:hover,
  .navbar > ul > li a:active {
    background: #eee;
    color: #9933cc !important; }

.main-content {
  height: 10px;
  line-height: 0px; }
  .main-content img {
    height: auto;
    z-index: -1;
    opacity: 0.4; }
  .main-content h1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center; }
  .main-content span:hover {
    color: #fff; }

.footer {
  width: 100%;
  border-top: 2px solid indianred;
  background-color: gray;
  border-top: 3px solid #2e2e2e; }
  .footer span {
    font-size: 14px;
    float: left;
    margin: 1em;
    color: #2e2e2e; }

.test .column-3 {
  padding: 1em;
  background: chocolate; }

.test .column-9 {
  padding: 1em;
  background: indianred; }
