@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import "variables";
@import "core";

html, body {
  background: $navbar;
  margin: 0 auto;
  padding: 0;
}

.header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.content {
  width: 60%;
  margin: 0 auto;
  background: #eee;
  padding: 2em 2em;
  border-radius: 0.5em;
  h2 {
    width: 100%;
    text-align: center;
  }
}

.login {
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  line-height: 2em;

  input {
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
    background: none;
    border: none;
    border-bottom: 3px solid #000;
  }
  input:focus {
    border-bottom-color: $navbar;
  }

  button {
    width: 100%;
    padding: 0.5em 0;
    margin-top: 1em;
    background: #D9853B;
    border: 1px solid transparent;
    border-radius: 0.2em;
    color: #000;
    font-weight: 500;
    cursor: pointer;
  }
  button:hover {
    background: darken(#D9853B, 5%);
  }
  h4 {
    padding: 1em;
    width: 100%;
    text-align: center;
  }
  .socialmedia {
    margin: 0 auto;
    width: 30%;
    i {
      width: 30%;
      text-align: center;
    }
    a {
      color: $navbar;
    }
  }
}
@import "breakpoints";

@media #{$breakpoint-small} {
  .navbar {
    a {
      width: 100%;
      display: block;
      padding: 1em;
      text-align: center;
    }
  }
  .wrapper {
    height: 100%;
    font-size: 20px;
    width: 100%;
    max-width: $grid-max-width;
  }
  .socialmedia {
    width: 100% !important;
    //i {
    //  width: 100%;
    //}
  }
  @for $i from 1 through $grid-columns {
    .col-s-#{$i} {
      width: 100%;
    }
    .offcol-s-#{$i} {
      margin-left: 0;
    }
  }
}

@media #{$breakpoint-large} {
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
    .offcol-#{$i} {
      margin-left: 100% / $grid-columns * $i;
    }
  }
}